.bingo {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;

    .card {
        // background: $blue;
        border: 1px solid $white;
        height: 20vh;
        width: 20vw;
        max-width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        text-align: center;

        &:nth-child(odd) {
            background: rgba(256, 256, 256, 0.2);
        }
        &:hover {
            cursor: pointer;
        }

        color: $white;
        font-size: 1.8rem;
    }

    .card.clicked {
        background-color: $white;
        color: $black;
    }
}