header {
  padding: 20px 0;

  h1 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-style: italic;
    --bg-size: 400%;
    --color-one: #3674fa;
    --color-two: #5aa5fd;
    font-size: 8rem;
    background: linear-gradient(90deg, var(--color-two), var(--color-one), var(--color-two)) 0 0 / var(--bg-size) 100%;
    animation: move-bg 10s infinite linear;
    color: transparent;
    background-clip: text;

    @media screen and (max-width: $bp-sm) {
      font-size: 3.2rem;
    }
  }

  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }

}