$background: #fffffe;
$card-background: #f2f4f6;
$heading: #00214d;
$link: #ff526f;
$link-darkened: #ad001d;
$link-muted: #d98c99;
$text: #1b2d45;
$text-muted: #abb1ba;

$navy: #003049;
$red: #d62828;
$orange: #f77f00;
$yellow: #fcbf49;
$tan: #eae2b7;
$blue: #3472fa;
$lightBlue: #4c9efd;
$white: #f7f7f7;


$bp-sm: 600px;
$bp-md: 700px;
$bp-lg: 1024px;