<footer>
  <div class="container">
    <div class="left">
      <p><a href="https://github.com/mikeastbury/Abzingo" target="_blank">I made this</a> based on the <a
          href="http://actionboyz.biz/" target="_blank" title="Link to Action Boyz patreon">Action
          Boyz podcast</a>. Why not become a Shadow Wolf?</p>
    </div>
    <div class="middle">
      <p>Refresh if you want a new answer grid.</p>
    </div>
    <div class="right">
      <p>Credits: <a href="https://github.com/aileen-r/parcel-html-css-js-starter-template">Aileen Rae's Parcel
          quickstarter</a>.
      </p>
    </div>
  </div>
</footer>