<footer>
  <div class="left">
    <p><a href="https://github.com/mikeastbury/Abzingo" target="_blank">I made this</a> based on the <a
        href="http://actionboyz.biz/" target="_blank" title="Link to Action Boyz patreon">Action
        Boyz podcast</a>. Why not become a Shadow Wolf?</p>
  </div>
  <div class="right">
    <p>Credits: <a href="https://github.com/aileen-r/parcel-html-css-js-starter-template">Aileen Rae's Parcel
        quickstarter</a>. Favicon photo by <a
        href="https://unsplash.com/@svi_designs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Sergi
        Viladesau</a> on <a
        href="https://unsplash.com/photos/dyrehVIidQk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>.
    </p>
  </div>

</footer>